<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <!-- how to use an ejs console.log -->
    <!-- <#%console.log('ITS GENGAR',pokemon) %> -->

    <div class="showDiv">
        <h1><%=pokemon.name%></h1>
    </div>
    <div class="showImg">
    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>"/>
    </div>
    <div>
        <ul>
            <li class="showStats"><%=pokemon.type%></li>
            <li class="showStats">HP:<%=pokemon.stats.hp%></li>
            <li class="showStats">Attack:<%=pokemon.stats.attack%></li>
            <li class="showStats">Defense:<%=pokemon.stats.defense%></li>
            <li class="showStats">Special Attack:<%=pokemon.stats.spattack%></li>
            <li class="showStats">Special Defense:<%=pokemon.stats.spdefense%></li>
            <li class="showStats">Speed:<%=pokemon.stats.speed%></li>
        </ul>
    </div>

    <nav class="editButton">
       <a href="/pokemon/<%= id %>/edit"><button>Edit this Pokemon</button></a>
     </nav>

</body>
</html>