<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of individual Pokemon </h1>



    <!-- how to use an ejs console.log -->
    <!-- <#%console.log('ITS GENGAR',pokemon) %> -->


    <div>
        <h1><%=pokemon.name%></h1>
    </div>
    <div>
    <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>"/>
    </div>
    <div>
        <ul>
            <li><%=pokemon.type%></li>
            <li>HP:<%=pokemon.stats.hp%></li>
            <li>Attack:<%=pokemon.stats.attack%></li>
            <li>Defense:<%=pokemon.stats.defense%></li>
            <li>Special Attack:<%=pokemon.stats.spattack%></li>
            <li>Special Defense:<%=pokemon.stats.spdefense%></li>
            <li>Speed:<%=pokemon.stats.speed%></li>
        </ul>
    </div>
</body>
</html>